.favor-icon--js-active,
.favor-icon--js-non-active {
  cursor: pointer;
}

.favor-icon--js-active {
  fill: rgb(255, 166, 0);
  path {
    stroke: rgb(255, 166, 0);
  }
  }
  

.favor-icon--js-non-active {
  fill: none;
}
