.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 40px;
  padding: 40px 30px;
  font-family: "Open Sans", sans-serif;
  background: url("https://c.wallhere.com/photos/25/41/phoenix_city_citycentre_cityscape_skyscape_clouds_cumulus_sunrays-866641.jpg!d");
  background-size: cover;
  background-repeat: no-repeat;
  &__logo {
    width: 150px;
  }
  &__title {
    flex-grow: 1;
    font-size: 50px;
    font-weight: normal;
    color: #083074;
  }
  &__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }
}

a {
  position: relative;
  padding: 5px 0px;
  text-decoration: none;
  font-size: 16px;
  color: white;
  text-transform: uppercase;
}

a:after {
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 2px;
  background-color: white;
  content: "";
  transition: width 0.2s ease-out;
}

a:hover:after,
a:focus:after {
  width: 100%;
}
